MARIADB_USER=facewatch
MARIADB_PASSWORD=change_me
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_DB=facewatch_db

JWT_SECRET=change_me_in_production
BOT_TOKEN=
TG_API_ID=
TG_API_HASH=
TELETHON_API_KEY=change_me_telethon
